<main class="toolbar" role="banner">
  <h1>Caesar's Cipher</h1>

  <form #cipherForm="ngForm">

    <fieldset>
      <label>Phrase:
        <input type="text" #phrase="ngModel" [(ngModel)]="cipherModel.phrase" name="phrase" required placeholder="I love JavaScript!">
      </label>
    </fieldset>

    <fieldset>
      <label>Offset by
        <input type="number" #offset="ngModel" [(ngModel)]="cipherModel.offset" name="offset" required>  Places
      </label>
    </fieldset>

    <button type="submit">Decipher it!</button>
  </form>

  <section class="display">
    {{ phrase.untouched }}
    {{ phrase.pristine }}
    {{ phrase.valid }}
  </section>

</main>
