<main class="toolbar" role="banner">
  <h1>Caesar's Cipher</h1>

  <form #cipherForm="ngForm">

    <fieldset>
      <label>Phrase:
        <input
          [class.invalid]="phrase.invalid && phrase.touched"
          type="text"
          #phrase="ngModel"
          [(ngModel)]="cipherModel.phrase"
          name="phrase"
          required
          placeholder="I love JavaScript!"
        >
      </label>
      <small [class.hidden]="phrase.valid || phrase.untouched">
        Enter a phrase to be decoded!
      </small>
    </fieldset>

    <fieldset>
      <label>Offset by
        <input
          [class.invalid]="offset.invalid && offset.touched"
          type="number"
          #offset="ngModel"
          [(ngModel)]="cipherModel.offset"
          name="offset"
          required
        >
          Places
      </label>
      <small [class.hidden]="offset.valid || offset.untouched">
        Specify how many places to offset your phrase!
      </small>
    </fieldset>

    <button type="submit">Decipher it!</button>
  </form>

  <section class="display">
    {{ phrase.untouched }}
    {{ phrase.pristine }}
    {{ phrase.valid }}
  </section>

</main>
