<main class="toolbar" role="banner">
  <form>
      <legend>Caesar's Cipher</legend>
      <fieldset>
        <label>Phrase:
          <input type="text" placeholder="I love JavaScript!">
        </label>
      </fieldset>
      <fieldset>
        <label>Offset
          <input type="number">
        </label>
        <input type="submit">
      </fieldset>
    </form>
    <button (click)="getFormFields()">Scream!</button>
    <section class="display">
      {{ decodedPhrase }}
    </section>
</main>
